body {
  font-family: "Poppins";
  background: rgba(39, 32, 68, 1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-col-narrow-first-col {
  grid-template-columns: 1fr 2fr 2fr;
}

.card {
  background: rgba(39, 36, 53, 1);
  box-shadow: 20px 20px 40px 0px rgba(7, 5, 19, 0.2);
  margin: 30px;
}

.card-body {
  padding: 24px 32px;
}

.card-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  opacity: 0.7;
}

.card-footer {
  display: block;
  background: rgba(70, 44, 178, 1);
  text-align: center;
  padding: 16px 32px;
}

.card-footer a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  color: #fff;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

section.secondary {
  background: rgba(24, 21, 37, 1);
  color: #fff;
}

section.secondary h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.7;
  margin: 0;
}
section.secondary h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;

  margin: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/lisbon-bridge.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 265px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  text-align: center;
  color: #fff;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #272044;
  background-color: #fff;
  margin-top: 32px;
  padding: 16px 32px;
}

main {
  color: #fff;
  font-family: Poppins;
}

main h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.7;
  margin: 0;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  margin: 0;
}

main h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  margin: 0;
}

main h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  margin: 0;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  opacity: 0.7;
}

footer {
  color: #fff;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/lisbon-landscape-view.png");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
  margin: 0;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #fff;
  opacity: 0.7;
  margin: 0;
}

@media (max-width 960px) {
  header {
    padding: 70px, 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
